<%-include('partials/header'); -%>



<title>Compose</title>


<body>
  <form action="/" method="post">
    <label>Title</label><br>
    <input type="text" name="postTitle" size="148"><br>
    <label>Body</label><br>
    <textarea name="postContent" rows="10" cols="150"></textarea><b>
  </form><br>
  <button type="submit" name="submit">Submit</button>

  <%-include('partials/footer'); -%>
